.heart-icon {
    font-size: 24px;
    float: right;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: orange;
}

.heart-icon.active {
    color: #FFB347;
    /* naranja pastel */
    animation: pop 0.3s ease-in-out;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.fruta-heart-icon {
    font-size: 24px;
    color: orange;
    transition: transform 0.3s, color 0.3s;
  }
  
  .fruta-heart-icon.relleno {
    color: #FFB347;
    transform: scale(1.2);
  }